/***************/
/** RESET CSS **/
/***************/
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
	background-color: #232947; 
	color: #fff;
}

/************/
/** HEADER **/
/************/
header{
    width: 98%;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	background-color: #232947; 
	color: #FFF;
	padding: 18px;
}

header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
	color: white;
	text-decoration: none;
    letter-spacing: 2px;
}

header a span{
	background-color: white;
	color:black;
    font-weight: bold;
	padding: 3px;
}

header:nth-child(1){
    float: left;
}

header:nth-child(2){
    float: right;
}

header section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 350px;
	background-color: #232947;
	color: #FFF;
	padding: 0 100px 0 100px;
}

header h1{
    font-size: 4em;
    margin-bottom: 30px;
}

header p{
    margin-top: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

header section div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

header button{
    margin-left: 1.8em;
    margin-top: 1.8em;
    color: white;
    letter-spacing: 4px;
    background: none;
    height: 50px;
    width: 200px;
    padding: 15px;
    border: 2px solid white;
}

.fa-long-arrow-right{
	margin-left: 10px;
}

/****************/
/** MAIN IMAGES**/
/****************/
main{
    width: 100%;
}

.images{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.images div{
    height: 409px;
    display: flex;
	justify-content: center;
	flex-direction: row;
    width: 100%;
}

.images div div{
    display: flex;
    max-width: 576px;
    flex: 1;
    flex-direction: column;
}

.images div div h2{
    margin-left: 40px;
    margin-bottom: 10px;
}

.images div div p{
    margin-left: 40px;
    padding-top: 10px;
    border-top: 2px solid white;
    width: 250px;
}

.images div article{
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
}

.images div article h2{
    margin-left: 40px;
    margin-bottom: 10px;
}

.images div article p{
    margin-left: 40px;
    padding-top: 10px;
    border-top: 2px solid white;
    width: 250px;
}

.bloc1 div{
    background-image: url("images/pic01.jpg");
}

.bloc1 article{
    background-image: url("images/pic02.jpg");
    background-size: cover;
}

.bloc2 article{
	background-image: url("images/pic03.jpg");
    background-size: cover;
}

.bloc2 div{
    background-image: url("images/pic04.jpg");
}

.bloc3 div{
	background-image: url("images/pic05.jpg");
}

.bloc3 article{
	background-image: url("images/pic06.jpg");
    background-size: cover;
}

/***********************/
/** MAIN MASSA LIBERO **/
/***********************/
.massa{
    width: 89%;
    height: 300px;
    padding: 100px;
}

.massa h2{
    font-size: 3em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    width: 350px;
    margin-bottom: 30px;
}

.massa p{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.massa button{
    color: white;
    letter-spacing: 4px;
    background: none;
    height: 50px;
    width: 220px;
    padding: 5px;
    border: 1px solid white;
    font-size: 0.9em;
    text-transform: uppercase;
}

/******************/
/** MAIN CONTACT **/
/******************/

.contact{
	display: flex;
	justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 400px;
}

.contact form{
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	width: 50%;
    padding-left: 10%;
    padding-right: 4%;
    padding-bottom: 2%;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.nomemail {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
    width: 100%;
}

.duoinput{
	display: flex;
	flex-direction: column;
	width: 48%;
}

.duobouton{
	display: flex;
	flex-direction: row;
}

#envoyer {
	margin: 10px 10px 10px 0;
	height: 50px;
	width: 150px;
	background-color: #fff;
	color: #232947; 
}

#effacer {
	margin:10px;
	height: 50px;
	width: 150px;
	border:solid 2px white;
}

.contact aside{
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 50%;
}

.contact aside div{
    padding-left: 10%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
}

.contact aside div span{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.contact aside h3{
    font-size: 1.5em;
    padding-top: 10px;
    margin-left: 20px;
}

.contact aside a{
	color: white;
}

.contact .fa-2x{
    padding: 5px;
    background-color: white;
    color: darkblue;
    border-radius: 50px;
}

form input {
	border: inherit;
	background-color: rgba(212,212,255,0.035)!important;
}


textarea {
	height: 170px;
	background-color: rgba(212,212,255,0.035);
	border: none;
}

label {
	margin-bottom: 10px; 
}

section form input{
	height: 50px;
	background-color: rgba(35,41,71,0.1);
}

/*end contact*/


/* footer */

footer ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 10px;
}
footer li{
	margin: 15px;
}

footer{
	background-color: #232947;

}
footer a{
	color: #FFF;
}
/*end footer*/
/* couleur bleu clair #2A2F4A*/
/* couleur des div image #77BFD8 #7D75B3 #E4928A #DFB790 #889ED5 #7AAE95 */

